<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Borrar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onDelete()">Borrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding back" mode="md">
  <ion-card class="ion-padding">

    <div class="di">
      <img src="assets/15.png" />
    </div>

    <h2>Usuario: {{Usuario.Nombre}}</h2>
    <h3>Telefono: {{Usuario.metodosContacto[0].Nombre}}</h3>
    <h4>Correo principal: {{Usuario.metodosContacto[1].Nombre}}</h4>
  </ion-card>
  
</ion-content>