.back {
    --background: var(--ion-color-dark) url('../../../../../assets/14.png') no-repeat center/cover;
}

ion-button {
    --ion-color-primary: rgb(4, 17, 92);
    letter-spacing: 5.5px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    margin-top: 20px;
}

.btn-2{
    --ion-color-primary: rgb(189, 7, 16);
    letter-spacing: 5.5px;
}

.di {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid ;
    --background: rgba(102, 107, 105, 0.2);
}