<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
      <ion-button size="small" fill="solid" shape="round" (click)="irAtras()"><ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    <ion-title class=ion-text-capitalize>{{title}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-avatar>
        <ion-img src="/assets/2.jpeg"></ion-img>
      </ion-avatar> -->
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>