<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{isEditable ? 'Actualizar': 'Agregar'}} Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onSubmit()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding back" mode="md">
  <div class="flex-content">
    <ion-card class="ion-padding">

      <div class="di">
        <img src="assets/15.png" />
      </div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <ion-item class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Nombre</ion-label>
          <ion-input color="primary" type="text" formControlName="Nombre" placeholder="Nombre completo"></ion-input>
          <ion-icon color="primary" slot="end" name="person-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.Nombre" nomCampo="Nombre"></ion-error-message>
        <br>

        <ion-item *ngIf="!isEditable" class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Telefono</ion-label>
          <ion-input color="primary" (keypress)="numeric($event)" type="phone" formControlName="Telefono" placeholder="8110000000"></ion-input>
          <ion-icon color="primary" slot="end" name="call-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.Telefono" nomCampo="Telefono"></ion-error-message>
        <br *ngIf="!isEditable">

        <ion-item *ngIf="!isEditable" class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Email</ion-label>
          <ion-input color="primary" type="mail" formControlName="Correo" placeholder="ejemplo@ejemplo.com"></ion-input>
          <ion-icon color="primary" slot="end" name="mail-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.Correo" nomCampo="Email"></ion-error-message>
        <br *ngIf="!isEditable">

        <ion-item class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Tipo usuario</ion-label>
          <ion-select formControlName="IdTipoUsuario" placeholder="Seleccione tipo de usuario">
            <ion-select-option *ngFor="let item of tiposUsuario$ | async" [value]="item.IdTipoUsuario">{{item.Nombre}}</ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="people-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.IdTipoUsuario" nomCampo="Tipo usuario"></ion-error-message>

        <ion-item class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Rol</ion-label>
          <ion-select formControlName="IdRol" placeholder="Seleccione rol">
            <ion-select-option *ngFor="let item of roles$ | async" [value]="item.IdTipoUsuario">{{item.Nombre}}</ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="people-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.IdRol" nomCampo="Rol"></ion-error-message>

        <ion-item class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Clinica</ion-label>
          <ion-select formControlName="IdClinica" placeholder="Seleccione clinica">
            <ion-select-option *ngFor="let item of clinicas$ | async" [value]="item.IdTipoUsuario">{{item.Nombre}}</ion-select-option>
          </ion-select>
          <ion-icon color="primary" slot="end" name="people-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.IdClinica" nomCampo="Clinica"></ion-error-message>

        <br *ngIf="isEditable">
        <ion-button class="but" *ngIf="isEditable" (click)="openModal( {action: 'add'} )" expand="block" shape="round">
          Nuevo Metodo Contacto
        </ion-button>

        <ion-list *ngFor="let item of metodosContacto$ | async">
          <ion-row>
            <ion-col class="mt" size="8">
              <ion-label>{{item.tipoMetodoContacto.Nombre}}: {{item.Nombre}}</ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-button class="edit" (click)="openModal( {action: 'edit',data: item} )" fill="clear">
                <ion-icon slot="icon-only" size="large" name="create-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="openModal( {action: 'delete',data: item} )" fill="clear">
                <ion-icon color="danger" slot="icon-only" size="large" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </form>
    </ion-card>
  </div>
</ion-content>