<ion-content class="back" mode="md">
  <div class="flex-content">
    <ion-card class="ion-padding">
      <div class="di">
        <img src="assets/15.png" />
      </div>
      
        <h2>Usuario: {{Usuario?.Nombre}}</h2>
        <h4>{{Usuario?.tipoUsuario.Nombre}}</h4>
        <ion-list *ngFor="let item of Usuario?.metodosContacto">
        <ion-item>
          <ion-label>
            <h3>{{item.IdTipoMetodoContacto == 1 ? 'Telefono' : 'Correo'}} : {{item.Nombre}}</h3>
          </ion-label>
        </ion-item>
      </ion-list> 

      <ion-button (click)="openModal({action: 'add', data: Usuario})" shape="round">
        Editar
      </ion-button>
      <ion-button class="btn btn-2" (click)="openModal({action: 'delete', data: Usuario})" shape="round">
        Borrar
      </ion-button>
    </ion-card>
  </div>
</ion-content>