<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Arma</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onSubmit()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding back" mode="md">
  <div class="flex-content">
    <ion-card class="ion-padding">

      <div class="di">
        <img src="{{habilidad?.Imagen}}" />
      </div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <ion-item class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Nombre</ion-label>
          <ion-input color="primary" type="text" formControlName="Nombre" placeholder="Nombre completo"></ion-input>
          <ion-icon color="primary" slot="end" name="person-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.Nombre" nomCampo="Nombre"></ion-error-message>
        <br>

        <ion-item class="it" fill="outline">
          <ion-label position="floating" class="text-color-primary">Descripcion</ion-label>
          <ion-textarea color="primary" formControlName="Descripcion" placeholder="Descripcion"></ion-textarea>
          <ion-icon color="primary" slot="end" name="book-outline"></ion-icon>
        </ion-item>
        <ion-error-message [control]="form.Descripcion" nomCampo="Descripcion"></ion-error-message>
        <br>
      </form>
    </ion-card>
  </div>
</ion-content>