/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "../node_modules/ngx-spinner/animations/ball-scale-multiple.css";


ion-menu-button {
    color: var(--ion-color-primary);
}

ion-item {
    --background: transparent;
}

.select-icon {
    width: none !important;
}
// .btn-2{
//     position: relative;
//     text-decoration: none;
//     color:#fdefef;
//     letter-spacing: 2.5px;
// }

// .btn-2{
//     border: 1px solid;
//     border-radius: 23px;
// }

// .btn-2:hover{
//     background-color: #001a2b;
//     box-shadow: 0 0 20px var(--color);
//     border-color: var(--color);
// }

ion-label {
    border-color: rgb(95, 95, 93);
    top: -0.1rem;
    font-weight: 600;
    // padding: 0 20px;
    transition: 2s;
    --background: rgba(5,7,12, 0.30);
}

ion-item{
    margin-top: 15px;
}

.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.it {
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 20px;
}

ion-card {
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.3);

}

