.back {
    --background: var(--ion-color-dark) url('../../../../../assets/1.png') no-repeat center/cover;
}

.di {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid ;
    --background: rgba(102, 107, 105, 0.2);
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

h3 {
    font-size: 22px;
    margin-top: 7px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 21px;
    margin-top: 7px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
